body {
    background-color: azure;
  }
  .nav {
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
    /* align-items: center; */
  }
  .logo {
    padding: 10px;
    margin: 10px;
    align-self: baseline;
  }
  .items {
    display: flex;
  }
  .items span {
    
    padding: 10px;
    margin: 10px;
  }
  .itemsCenter {
      display: flex;
  }
  .itemsCenter span {
      padding: 10px;
      margin: 10px;
  }