div.figure {
    margin: 40px 0 0;
    padding: 0;
}

div.figure img {
    height: 300px;
    width: 300px;
}
#errorbox {
    line-height: 1.6em;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px;
    text-align: left;
    word-wrap: break-word;
}
body {
    color: #444;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    width: 100%;
}
body, input, textarea, select, button, .normal {
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    font-size: 13px;
    color: #000;
    color: var(--color__standard__text);
    font-weight: normal;
}
html, :root {
    box-sizing: border-box;
    font: 81.25%/1.75 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #3d464d;
}

